.logo{

    background-color: #198754;
    padding: 10px;
   border-style: none;
 
   margin-right: 10px;


}
.menu-bar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; /* adjust the padding as per your requirement */
  }
  
  .menu-bar-right > * {
    margin-right: 10px; /* adjust the margin as per your requirement */
  }