.forms {
    width: 20rem;
     margin-left: 70%;
     margin-bottom: 10px;
 
  }
  .seeAll{

    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 2px;
  }
  .dataItem{
    cursor: pointer;
  }